.item-list {
    display: flex;
}

.item-box {
    display: flex;
    height: 64px;
    width: 64px;
    color: white;
    background: #48cae4;
    margin: 10px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-box:hover {
    background: #0096c7;
}